<div class="container">
  <div class="row">

    <%= render 'common', user: @book.user, book: @book, book_new: @book_new %>


    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <p><%= link_to image_tag(@book.user.get_profile_image(100,100)),user_path(@book.user.id) %></p>
              <p><%= link_to @book.user.name, user_path(@book.user.id) %></p>
            </td>
            <td>
              <p><%= link_to @book.title, user_path(@book.user.id) %></p>
            </td>
            <td>
              <p><%= @book.body %></p>
            </td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-outline-secondary bg-success text-white" %>
              <% end %>
              <% if @book.favorited_by?(current_user) %>
                <p>
                  <%= link_to book_favorites_path(@book), method: :delete do %>
                    <i class="fa-solid fa-heart" style="color:red"></i><%= @book.favorites.count %>
                  <% end %>
                </p>
                <% else %>
                <p>
                  <%= link_to book_favorites_path(@book), method: :post do %>
                    <i class="fa-solid fa-heart"></i><%= @book.favorites.count %>
                  <% end %>
                </p>
              <% end %>
            </td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？",class: "btn btn-outline-secondary bg-danger text-white" %>
              <% end %>
            </td>
            <td>
              <p>コメント数：<%= @book.book_comments.count %></p>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <% @book.book_comments.each do |book_comment| %>
          <p>
            <%= image_tag book_comment.user.get_profile_image(80,80) %>
            <%= book_comment.user.name %>
            <% if book_comment.user == current_user %>
              <%= link_to "Destroy", book_book_comment_path(book_comment.book,book_comment), method: :delete, class: "btn btn-outline-secondary bg-danger text-white" %>
            <% end %>
          </p>
          <%= book_comment.comment %>
        <% end %>
      </div>

      <div>
        <%= form_with model: [@book,@book_comment] do |f| %>
          <div>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "w-100" %>
          </div>
          <div>
            <%= f.submit "送信" %>
          </div>
        <% end %>

      </div>


    </div>
  </div>
</div>




